/* #region VARS */
@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.otf");
}

@font-face {
  font-family: "Martel";
  src: url("./fonts/martel-regular.otf");
}
/* #endregion */

/* #region VARS */
:root {
  --primary-color: #d0a144;
  --secondary-color-2: #784f33;
  --secondary-color-4: #295c7a;
  --background-gradient-1: linear-gradient(
    270deg,
    #295c7a -1.04%,
    #0072b5 100%
  );
  --text-color: #252b42;
  --second-text-color: #737373;
  --light-text-color: #ffffff;
  --dark-background-color: #252b42;
  --light-background-color: #ffffff;
  --disabled-element-color: #8ec2f2;
}
/* #endregion */

/* #region FONTS */
.header__nav-bar__link__anchor,
.footer-5__part2__box__link {
  font-family: OpenSans;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.2px;
}

#header__nav-bar__name,
#clients-2__part1__subscribe__title,
#footer-5__part1__text__title,
.header__container__center__card__title {
  font-family: Martel;
  font-weight: bold;
  font-size: 24px;
}

#header__container__btn__get-quote,
#header__container__btn__learn-more,
#footer-5__part1__btn {
  font-family: OpenSans;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.2px;
}

.header__container__center__card__caption,
#about-2__main__texts__subtitle,
#footer-5__part1__text__subtitle,
.features-about__header__text,
.features-7__card__caption {
  font-family: OpenSans;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: var(--second-text-color);
}

.features-10__card__numbers,
#about-2__main__texts__title,
.features-about__header__title {
  font-family: Martel;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
}

.features-10__card__text,
.features-7__card__title,
.about-2__main__texts__box__caption1,
.contact-4__card__get-support,
.footer-5__part2__box__title {
  font-family: Martel;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.about-2__main__texts__box__caption2,
.contact-4__card__email,
.contact-4__card__btn,
#footer-5__part3__title {
  font-family: OpenSans;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
}

#clients-2__part1__subscribe__input-group_input,
#clients-2__part1__subscribe__input-group__btn {
  font-family: Montserrat;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.2px;
}

/* #endregion */

/* #region SELECTORS */

body {
  margin: 0;
  padding: 0;
}

.side-space {
  margin-left: 15%;
  margin-right: 15%;
}

/* #region Header-8 */
#header {
  background-image: url("./assets/cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: max-content;
  position: relative;
}

#header__nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 15%;
  margin-right: 5%;
}

#header__nav-bar__name-wrap {
  order: 0;
  cursor: pointer;
}

#header__nav-bar__name {
  color: var(--text-color);
  margin-right: 100px;
  align-items: center;
}

#header__nav-bar__links {
  order: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__nav-bar__link {
  order: 2;
  list-style-type: none;
  padding: 10px;
  font-size: 14px;
}

.header__nav-bar__link__anchor {
  text-decoration: none;
  color: var(--second-text-color);
}

#header__nav-bar__icons-wrap {
  display: flex;
  margin-left: auto;
  align-items: center;
  justify-content: space-around;
}

.header__nav-bar__icon {
  display: block;
  padding: 5px;
  width: 22.86px;
  height: 13.71px;
  cursor: pointer;
}

.header__nav-bar__icon-display {
  display: none;
}

#header__container__main-title {
  font-family: Martel;
  font-weight: 900;
  font-size: 58px;
  letter-spacing: 0.2px;
  color: var(--text-color);
}

#header__container__second-title {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.2px;
  color: var(--second-text-color);
}

#header__container__btns {
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  row-gap: 10px;
}

#header__container__btn__get-quote {
  color: var(--light-text-color);
  background: var(--secondary-color-2);
  border-radius: 37px;
  padding: 10px 36px;
  cursor: pointer;
}

#header__container__btn__learn-more {
  border-radius: 37px;
  border: 1px solid var(--secondary-color-2);
  padding: 10px 36px;
  color: var(--secondary-color-2);
  background-color: transparent;
  cursor: pointer;
}

#header__container__center__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  bottom: -50px;
}

.header__container__center__card {
  background: var(--light-background-color);
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  padding: 30px 50px;
  flex-grow: 1;
  flex-basis: 0;
}

.header__container__center__card__title {
  font-style: normal;
  line-height: 32px;
  letter-spacing: 0.1px;
  color: var(--text-color);
}

.header__container__center__card__img {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
}

#header__container__center__card-blue {
  background: var(--secondary-color-4);
  color: var(--light-text-color);
}

#header__container__center__card__title {
  color: var(--light-text-color);
}

#header__container__center__card__caption-blue,
#header__container__center__card__title-blue {
  color: var(--light-text-color);
}

/* #endregion */

/* #region Features-10 and features-about  */
#features-10 {
  padding-top: 150px;
  background: #fafafa;
}

.features-about__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features-about__header__title {
  text-align: center;
  font-style: normal;
  letter-spacing: 0.2px;
  color: var(--text-color);
}

.features-about__header__text-wrap {
  display: flex;
  justify-content: center;
}

.features-about__header__text {
  letter-spacing: 0.2px;
  text-align: center;
  max-width: 468px;
  margin-bottom: 30px;
}

#features-10__cards {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.features-10__card {
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: var(--light-background-color);
}

.features-10__card__img {
  width: 48px;
  height: 48px;
}

.features-10__card__numbers {
  margin: 10px;
}

.features-10__card__text {
  text-align: center;
  color: var(--second-text-color);
  margin: 0;
}
/* #endregion */

/* #region Features-7 */
#features-7 {
  padding-top: 150px;
  background: #fafafa;
  padding-bottom: 150px;
}

#features-7__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
}

.features-7__card {
  flex: 1 1 0;
  min-width: 0;
  display: flex;
  flex-direction: column;
  background: var(--light-background-color);
}

.features-7__card__title {
  color: var(--text-color);
  padding-left: 20px;
  margin-bottom: 10px;
}

.features-7__card__caption {
  padding: 0px 25px 0px 20px;
}

.features-7__card__img {
  flex: 1 0 auto;
}

/* #endregion */

/* #region About-2 */
#about-2 {
  background: var(--light-background-color);
  padding-top: 50px;
  padding-bottom: 150px;
}

#about-2__main {
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 70px;
}

#about-2__main__video {
  width: 100%;
  flex-shrink: 2;
}
#about-2__main__texts {
  flex-shrink: 3;
}

#about-2__main__texts__title {
  letter-spacing: 0.2px;
  color: var(--text-color);
  margin: 20px 0px 20px 0px;
}

.about-2__main__texts__box {
  display: flex;
  flex-direction: row;
}

.about-2__main__texts__box__caption1 {
  margin-top: 0;
  margin-left: 15px;
  margin-bottom: 5px;
  color: var(--text-color);
}

.about-2__main__texts__box__caption2 {
  margin-top: 0;
  margin-left: 15px;
  margin-bottom: 5px;
  color: var(--second-text-color);
}

/* #endregion */

/* #region Clients-2 */
#clients-2__part1 {
  background: #fafafa;
  position: relative;
}

#clients-2__part2 {
  background: var(--dark-background-color);
  width: 100%;
  height: 77px;
}

#clients-2__part1__brands {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#clients-2__part1__subscribe {
  position: relative;
  display: flex;
  align-items: stretch;
  background: var(--background-gradient-1);
  padding: 25px;
  flex-wrap: wrap;
  bottom: -50px;
}

#clients-2__part1__subscribe__title-wrap {
  flex: 2;
}

#clients-2__part1__subscribe__title {
  line-height: 32px;
  letter-spacing: 0.1px;
  color: var(--light-text-color);
  margin: 0;
}

#clients-2__part1__subscribe__input-group-wrap {
  flex: 4;
}

#clients-2__part1__subscribe__input-group {
  height: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

#clients-2__part1__subscribe__input-group_input-wrap {
  height: 58px;
  width: 60%;
}

#clients-2__part1__subscribe__input-group_input {
  height: 100%;
  width: 100%;
  color: var(--second-text-color);
  background: #f9f9f9;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 5px 0px 0px 5px;
}

#clients-2__part1__subscribe__input-group__btn-wrap {
  height: 58px;
}

#clients-2__part1__subscribe__input-group__btn {
  height: 100%;
  background: var(--primary-color);
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  color: var(--light-text-color);
  cursor: pointer;
}

/* #endregion */

/* #region Contact-4 */
#contact-4 {
  background: #f3f3f3;
  padding-top: 75px;
  padding-bottom: 150px;
}

#contact-4__cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-4__card {
  flex-basis: 0;
  flex: 1 1 0px;
  background: var(--light-background-color);
  padding: 50px 0px;
  text-align: center;
  width: 100%;
}

.contact-4__card__img-wrap {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 72px;
  height: 72px;
}

.contact-4__card__email {
  text-align: center;
  color: var(--text-color);
  margin: 10px;
}

.contact-4__card__get-support {
  text-align: center;
  color: var(--text-color);
}

#contact-4__card__blue {
  padding-top: 100px;
  padding-bottom: 100px;
  background: var(--dark-background-color);
}

.contact-4__card__blue__text {
  color: var(--light-text-color);
}

.contact-4__card__btn {
  border: 1px solid var(--primary-color);
  box-sizing: border-box;
  border-radius: 5px;
  background-color: transparent;
  text-align: center;
  color: var(--primary-color);
  padding: 12px;
  cursor: pointer;
}

/* #endregion */

/* #region Footer-5 */
#footer-5__part1-wrap {
  background: #fafafa;
  padding-top: 50px;
  padding-bottom: 50px;
}

#footer-5__part1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-5__part1__text__title {
  line-height: 32px;
  letter-spacing: 0.1px;
  color: var(--text-color);
}

#footer-5__part1__btn {
  background: var(--secondary-color-2);
  border-radius: 5px;
  align-items: center;
  padding: 15px 40px;
  color: var(--light-text-color);
  cursor: pointer;
}

#footer-5__part2-wrap {
  padding-top: 50px;
  padding-bottom: 50px;
  color: var(--light-text-color);
  background: var(--background-gradient-1);
}

#footer-5__part2 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.footer-5__part2__box {
  display: flex;
  flex-flow: column;
}

.footer-5__part2__box__link {
  line-height: 24px;
  cursor: pointer;
}

.footer-5__part2__box__icon-text {
  display: flex;
  align-items: center;
  gap: 5px;
}

#footer-5__part3-wrap {
  background: #fafafa;
}

#footer-5__part3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer-5__part3__title {
  color: var(--second-text-color);
}

#footer-5__part3__ {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.footer-5__part3__icon {
  cursor: pointer;
}
/* #endregion */

/* #region MOBILE */

@media (max-width: 700px) {
  #header__nav-bar {
    display: block;
  }

  #header__nav-bar__name {
    margin-top: 0;
    padding-top: 23px;
  }

  #header__nav-bar__name-wrap {
    width: fit-content;
  }

  #header__nav-bar__links-wrap{
    margin-right: 20%;
  }

  #header__nav-bar__links {
    flex-direction: column;
    text-align: center;
  }

  .header__nav-bar__link {
    font-size: 30px;
    line-height: 45px;
    padding: 0;
  }

  #header__nav-bar__icons-wrap {
    position: absolute;
    top: 27px;
    right: 15px;
  }

  .header__nav-bar__icon-display {
    display: block;
  }

  #header__container__main-title {
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.2px;
  }

  #header__container__second-title {
    text-align: center;
  }

  #header__container__btns {
    flex-direction: column;
    align-items: center;
  }

  .header__container__btn {
    margin-right: 0;
  }

  #header__container__center__cards {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }

  .header__container__center__card {
    width: 70%;
  }

  #features-10__cards {
    flex-direction: column;
    justify-content: center;
  }

  #features-7__cards {
    flex-direction: column;
  }

  #about-2__main {
    flex-direction: column;
    gap: 30px;
  }

  #clients-2__part1__brands {
    flex-direction: column;
    gap: 35px;
  }

  #clients-2__part1__subscribe {
    display: block;
    align-items: center;
    flex-wrap: initial;
    bottom: 0;
  }

  #clients-2__part1__subscribe__title-wrap {
    flex: 0;
  }

  #clients-2__part1__subscribe__title {
    text-align: center;
  }

  #clients-2__part1__subscribe__input-group-wrap {
    margin-top: 15px;
    flex: 0;
  }

  #clients-2__part1__subscribe__input-group {
    justify-content: center;
    width: auto;
  }

  #clients-2__part2 {
    display: none;
  }

  #contact-4__cards {
    flex-direction: column;
    overflow: hidden;
    gap: 30px;
  }

  #contact-4__card__blue {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  #footer-5__part1 {
    flex-direction: column;
    align-items: flex-start;
  }

  #footer-5__part2 {
    display: flex;
    flex-flow: column;
    gap: 20px;
  }

  #footer-5__part3 {
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 25px;
  }
  /* #endregion */
}

/* #endregion */
